---
interface Props extends astroHTML.JSX.HTMLAttributes {
	class?: string;
	triggerArea?: number;
	movementRatio?: 0.1 | 0.2 | 0.3 | 0.4 | 0.5 | 0.6 | 0.7 | 0.8 | 0.9 | 1;
	transition?: {
		duration: string;
		timing?: 'linear' | 'ease' | 'ease-in' | 'ease-out' | 'ease-in-out' | string;
		delay?: string;
	};
}

const {
	class: classes,
	triggerArea = 100,
	transition,
	movementRatio = 0.5,
	...props
} = Astro.props as Props;

const {
	duration = '150ms',
	timing = 'linear',
	delay = '0s',
} = transition || {};
---

<div class:list={['lw-magneto', classes]} {...props}>
	<slot />
</div>

<script>
	import { Magneto } from './Magneto';

	if (window.matchMedia('(prefers-reduced-motion: no-preference)')) {
		// Get all magneto elements
		const magnetoList: NodeListOf<HTMLElement> = document.querySelectorAll('.lw-magneto');
		// Call Magneto class
		magnetoList.forEach((item) => new Magneto(item));
	}
</script>

<style define:vars={{ timing, duration, delay, triggerArea, movementRatio }}>
	.lw-magneto {
		--posX: 0;
		--posY: 0;
	}
	@media (prefers-reduced-motion: no-preference) {
		.lw-magneto {
			transform: translate3D(0, 0, 0);
			transition: transform var(--duration) var(--timing) var(--delay);
		}
		.lw-magneto.active {
			transform: translate3D(var(--posX), var(--posY), 0);
		}
	}
</style>
